<!DOCTYPE html>
<html>
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/nav.ejs') %>

            <h1>node js with html</h1>
            <h2>Ahmed Ihsan</h2>
        <% const ejs = 'this is EJS' %>
            <h3><%= ejs %></h3>
            <h1><%= title1 %></h1>
            <h2>Home</h2>

            <%- include ('./partials/footer.ejs') %>
    </body>
</html>