<!DOCTYPE html>
<html>
    <%- include ('./partials/head.ejs') %>
    <body>
        <%- include ('./partials/nav.ejs') %>

            <h1>node js with html</h1>
            <h2>Ahmed Ihsan</h2>
            <% if (users.length > 0) { %>
            <% users.forEach(user => { %>
                <h3><%= user.firstName %></h3>
                <h3><%= user.lestName %></h3>
                <h3><%= user.age %></h3>
                <h3></h3><a href="/single-blog/<%= user.id %>">next</a></h3>
            <% }) %>
            <% } else { %>
                <p>There are no users to display...</p>
            <% } %>

            <%- include ('./partials/footer.ejs') %>
    </body>
</html>